.container {
    padding: 80px 120px;
    min-height: calc(100vh - 80px);
}

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 2px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover, .navbar-brand:hover  {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.pagination .active span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #29292c;
    border-color: #29292c;
}

.pagination .active span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #29292c;
    border-color: #29292c;
}

.pagination li.active a {
    color: #29292c;
    background-color: #aabbbb;
}

.pagination li a {
    color: #273649;
}

/*!* Dropdown *!*/
/*.open .dropdown-toggle {*/
    /*color: #fff ;*/
    /*background-color: #555 !important;*/
/*}*/

/*!* Dropdown links *!*/
/*.dropdown-menu li a {*/
    /*color: #000 !important;*/
/*}*/

/*!* On hover, the dropdown links will turn red *!*/
/*.dropdown-menu li a:hover {*/
    /*background-color: #3397de !important;*/
/*}*/

body {
    background-color: whitesmoke;
}

body a, p, td {
    color: #273649;
}

body a:hover {
    color: #777;
    text-decoration: none;
}
body h4 {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
}

body th {
    text-align: center;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 10px;
    /**/
    position: static;
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

footer a {
    color: #777;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

/* Map slide */
#panel, #flip {
    padding: 5px;
    text-align: center;
    /*background-color: #d5d5d5;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel {
    bottom: 0;
    display: none;
}

.left_hand {
    text-align: left;
}

.profile {
    text-align: left;
}

.form {
    text-align: left;
    width: 600px;
    margin: auto;
}

.form h3 {
    text-align: center;
}

.member_img {
    height: 280px;
    width: 280px;
}
