{% extends "base.html" %}

{% block meta_title %}Add relation{% endblock meta_title %}

{% block main_content %}
{% if user.is_staff %}
    <h3>Add relation</h3>
        <form action="{% url 'add_relation' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
            <input type="button" onclick="history.back();" value="Cancel">
        </form>
{% else %}
    go to hell, bastard
{% endif %}

{% endblock main_content %}