{% extends "base.html" %}

{% block meta_title %}Left project{% endblock meta_title %}

{% block main_content %}

    <h4>Do you really want member {{ relation.member.username }} to leave {{ relation.project.title }} project?</h4>
<form action="{% url 'leave_project' relation.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <input type="button" onclick="history.back();" value="Cancel">
</form>

{% endblock main_content %}