{% extends "base.html" %}

{% block meta_title %}Update member{% endblock meta_title %}

{% block main_content %}
{% if user.is_staff or user.pk == member.pk%}
    <h4>Update member {{ member.username }}?</h4>
<form action="{% url 'update' member.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <input type="button" onclick="history.back();" value="Cancel">
</form>
{% else %}
    go to hell, bastard
{% endif %}
{% endblock main_content %}