{% extends "base.html" %}

{% load static %}

{% block meta_title %}Member projects{% endblock meta_title %}

{% block main_content %}

    <h4><font color="#228b22">{{ member.username }}</font> projects</h4>
    {% if member.image %}
        <img height="150" src="/{{ member.image }}"/>
    {% else %}
        <img height="150" src="{% static "img/noimage.png" %}"/>
    {% endif %}
    <!-- Start Member Projects Listing -->
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    {% if member.relation.all %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th> </th>
                {% with 'project position date_joined date_left' as list %}
                    {% for head in list.split %}
                        <th>
                            <a href="?order_by={{ head }}{% if order_by == head and reverse != '1' %}&amp;reverse=1{% endif %}">
                                {{ head }} </a>
                            {% if order_by == head and reverse != '1' %}&uarr;
                            {% elif order_by == head and reverse == '1' %}&darr;
                            {% endif %}
                        </th>
                    {% endfor %}
                {% endwith %}
            </tr>
        </thead>
    {% endif %}
        <tbody>
        {% for relation in member.relation.all %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url "project_detail" relation.project.pk %}">
                    {{ relation.project.title }}</a></td>
                <td>{{ relation.position }}</td>
                <td>{{ relation.date_joined }}</td>
                <td> {% if relation.date_left %}
                    {{ relation.date_left }}
                    {% elif user.is_staff or user.pk == member.pk  %}
                        <form action="{% url "leave_project" relation.pk %}" method="GET">
                            <input type="submit" value="leave project">
                        </form>
                    {% else %}
                        ---
                    {% endif %}
                </td>
            </tr>

        {% empty %}
            <p>No projects yet</p>
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
<!-- End Members Listing -->
{% endblock main_content %}