{% extends "base.html" %}

{% block meta_title %}Member history{% endblock meta_title %}

{% block main_content %}

    <p>{{ member.username }} projects</p>
    <!-- Start Member Projects Listing -->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th> id </th>
                <th> project </th>
                <th> position </th>
                <th> joined date </th>
                <th> left date </th>
        </thead>
        <tbody>
        {% for relation in member.relation.all %}

            <tr>
                <td>{{ relation.pk }}</td>
                <td><a href="{% url "project_detail" relation.project.pk %}">
                    {{ relation.project.title }}</a></td>
                <td>{{ relation.position }}</td>
                <td>{{ relation.date_joined }}</td>
                <td> {% if relation.date_left %}
                    {{ relation.date_left }}
                    {% else %}
                    <form action="{% url "leave_project" relation.pk %}" method="GET">
                        <input type="submit" value="leave project">
                    </form>
                    {% endif %}
                </td>
            </tr>

        {% empty %}
            <p>No members yet</p>
        {% endfor %}
        </tbody>
    </table>
<!-- End Members Listing -->
{% endblock main_content %}