{% extends "base.html" %}

{% block meta_title %}Member projects{% endblock meta_title %}

{% block main_content %}

    <p>{{ member.username }} projects</p>
    <!-- Start Member Projects Listing -->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th> id </th>
                <th> project </th>
                <th> position </th>
        </thead>
        <tbody>
        {% for relation in member.relation.all %}

            <tr>
                <td>{{ relation.pk }}</td>
                <td><a href="{% url "project_detail" relation.project.pk %}">
                    {{ relation.project.title }}</a></td>
                <td>{{ relation.position }}</td>
            </tr>

        {% empty %}
            <p>No members yet</p>
        {% endfor %}
        </tbody>
    </table>
<!-- End Members Listing -->
{% endblock main_content %}