{% extends "base.html" %}

{% load static %}

{% block meta_title %}{{ member.username }} details{% endblock meta_title %}

{% block main_content %}
    <br><br>
<div class="container-fluid well">
	<div class="profile">
        <div class="col-xs-4" >
            {% if member.image %}
                <div class="member_img">
                    <img id="enlarge" style='height: 280px; width: 280px; object-fit: contain'  src="/{{ member.image }}"/>
                </div>
            {% else %}
                <img height="280" src="{% static "img/noimage.png" %}"/>
            {% endif %}
        </div>

        <div class="col-xs-8">
            <h3><font color="#228b22">{{ member.username }}</font> profile</h3>
            <h5>email: {{ member.email }}</h5>
            <h5>location: <a href="{% url "delivery_center" member.delivery_center %}">
                {{ member.delivery_center }}</a></h5>
            <h5>add date: {{ member.date_joined }}</h5>
            <h5><a href="{% url "member_projects" member.pk %}">projects</a><br></h5>
            <br><br><br><br>
            {% if user.is_staff or user.pk == member.pk %}
            <a href="{% url "password_change" %}">change password</a>
                | <a href="{% url "update" member.pk %}">update</a>
            {% endif %}
            {% if user.is_staff %}
                | <a href="{% url "delete" member.pk %}">delete</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main_content %}