{% extends "base.html" %}

{% block meta_title %}Delete project{% endblock meta_title %}

{% block main_content %}
    <br>
<div class="form">
    <div class="container-fluid well">
        {% if user.is_staff %}
            <h4>Do you really want to delete project <font color="#228b22">{{ project.title }}</font>?</h4>
                <form action="{% url 'delete_project' project.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                    <input type="button" onclick="history.back();" value="Cancel">
                </form>
        {% else %}
            go to hell, bastard
        {% endif %}
    </div>
</div>
{% endblock main_content %}