{% extends "base.html" %}

{% block meta_title %}Projects{% endblock meta_title %}

{% block main_content %}

    <h4>Projects list:</h4>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th> id </th>
                <th> title </th>
                <th> positions </th>
                <th> members </th>
                <th> technologies </th>
                <th> start date </th>
                <th> end date </th>
        </thead>
        <tbody>
        {% for project in projects %}

            <tr>
                <td>{{ project.pk }}</td>

                <td><a href="{% url "project_detail" project.pk %}">{{ project.title }}</a></td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ project.positions.count }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for position in project.positions %}
                                <li><a href="#">{{ position.position }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ project.active_relations.count }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for relation in project.active_relations %}
                                <li><a href="{% url "profile" relation.member.pk %}">
                                    {{ relation.member.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ project.technologies.all.count }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for tech in project.technologies.all %}
                                <li><a href="#">{{ tech.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>{{ project.start_date }}</td>

                <td> {% if project.end_date %}
                    {{ project.end_date }}
                    {% else %}
                    <form action="{% url 'close_project' project.pk %}" method="GET">
                        <input type="submit" value="close project">
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <p>No members yet</p>
        {% endfor %}
        </tbody>
    </table>
{#Relation.objects.filter(project__title__startswith='cl').values('position_id').distinct().count()#}
{% endblock main_content %}