{% extends "base.html" %}

{% block meta_title %}{{ project.title }} details{% endblock meta_title %}

{% block main_content %}

    <h4>{{ project.title }} project details</h4>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th> id </th>
                <th> title </th>
                <th> members </th>
                <th> technologies </th>
                <th> start date </th>
                <th> end date </th>
        </thead>
        <tbody>
        {% for relation in project.relation.all %}

            <tr>
                <td>{{ relation.pk }}</td>
                <td><a href="{% url "profile" relation.member.pk %}">{{ relation.member.username }}</a></td>
                <td>{{ relation.position.position }}</td>
                <td>---</td>
                <td>---</td>
                <td><a href="#">{{ relation.member.delivery_center.location }}</a></td>
            </tr>

        {% empty %}
            <p>No members yet</p>
        {% endfor %}
        </tbody>
    </table>

        technologies:
        {% for tech in project.technologies.all %}
            {{ tech.title }}
        {% empty %}
            <p>No technologies yet</p>
        {% endfor %}
        <br>
        <a href="{% url "update_project" project.pk %}">update</a> |
        <a href="{% url "delete_project" project.pk %}">delete</a>
{% endblock main_content %}