{% extends "base.html" %}

{% block meta_title %}Update technology{% endblock meta_title %}

{% block main_content %}
{% if user.is_staff %}
    <h4>Update technology {{ project.title }}?</h4>
<form action="{% url 'update_technology' technology.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <input type="button" onclick="history.back();" value="Cancel">
</form>
{% else %}
    go to hell, bastard
{% endif %}
{% endblock main_content %}