{% extends "base.html" %}

{% load static %}

{% block meta_title %}{{ technology.title }}{% endblock meta_title %}

{% block main_content %}

    <p>projects with <strong>{{ technology.title }}</strong></p>

    <!-- Start Member Projects Listing -->
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th> </th>
                {% with 'title positions members technologies start_date end_date' as list %}
                    {% for head in list.split %}
                        <th>
                            <a href="?order_by={{ head }}{% if order_by == head and reverse != '1' %}&amp;reverse=1{% endif %}">
                                {{ head }} </a>
                            {% if order_by == head and reverse != '1' %}&uarr;
                            {% elif order_by == head and reverse == '1' %}&darr;
                            {% endif %}
                        </th>
                    {% endfor %}
                {% endwith %}
            </tr>
        </thead>
        <tbody>
        {% for project in technology.active_projects %}

            <tr>
                <td>{{ forloop.counter }}</td>

                <td><a href="{% url "project_detail" project.pk %}">{{ project.title }}</a></td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ project.positions.count }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for position in project.positions %}
                                <li><a href="#">{{ position.position }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ project.active_relations.count }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for relation in project.active_relations %}
                                <li><a href="{% url "member" relation.member.pk %}">
                                    {{ relation.member.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ project.technologies.all.count }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for tech in project.technologies.all %}
                                <li><a href="#">{{ tech.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>{{ project.start_date }}</td>

                <td> {% if project.end_date %}
                    {{ project.end_date }}
                    {% else %}
                    <form action="{% url 'close_project' project.pk %}" method="GET">
                        <input type="submit" value="close project">
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <p>No members yet</p>
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
    {% if user.is_staff %}
        <a href="{% url "update_technology" technology.pk %}">update</a>
{#       | <a href="{% url "delete_project" project.pk %}">delete</a>#}
    {% endif %}
<!-- End Members Listing -->
{% endblock main_content %}